<div class='mb-2 d-flex justify-content-evenly'>
	<a href='/' class='text-decoration-none text-black'>New Club</a>
	<a href='clubs' class='text-black'>View Clubs</a>
</div>

{{#if data.teams}}
	<div class='border border-3 border-white rounded px-3 py-2'>
		<ul class='list-unstyled m-0 d-flex flex-column align-items-stretch'>
			{{#each data.teams as |team|}}
				<li id='{{team.id}}' class='bg-1 my-2 text-center'>
					<ul class='list-unstyled d-flex align-items-center'>
						<li
							class='img-container d-flex align-items-center justify-content-center'
						>
							<img class='team-crest' src='uploads/img/{{team.crest}}' />
						</li>
						<li
							class='d-flex align-items-center justify-content-start flex-fill'
						>
							<h6 class='fs-6 lh-1 m-0 ps-3'>
								<a
									href='clubs/{{team.id}}'
									class='text-primary'
								>{{team.name}}</a>
							</h6>
						</li>
						<li>
							<a class='text-danger' href='clubs/delete/{{team.id}}'>
								<i class='bi bi-trash3 px-2'></i>
							</a>
						</li>
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>
{{else}}
	<div class='border border-3 border-white rounded px-3 py-2'>
		<h6 class='text-center my-5 fw-normal'>No clubs to display yet.
			<strong>
				<a href='/' class='text-danger'>Create One!</a>
			</strong>
		</h6>
	</div>
{{/if}}