<form
	action='/form'
	method='POST'
	enctype='multipart/form-data'
	class='container border border-3 border-white rounded my-3 py-3'
>
	<h4 class='mb-2 text-center'>Create Team</h4>
	<div class='my-2'>
		<label
			for='team-img'
			class='form-label my-0 text-black-50 ps-1'
		>Image</label>
		<input
			type='file'
			name='team-img'
			id='team-img'
			class='form-control form-control-sm'
		/>
	</div>
	<div class='my-2'>
		<label
			for='team-name'
			class='form-label my-0 text-black-50 ps-1'
		>Name</label>
		<input
			type='text'
			name='team-name'
			id='team-name'
			class='form-control form-control-sm'
		/>
	</div>
	<div class='my-2'>
		<label
			for='team-owner'
			class='form-label my-0 text-black-50 ps-1'
		>Owner</label>
		<input
			type='text'
			name='team-owner'
			id='team-owner'
			class='form-control form-control-sm'
		/>
	</div>
	<div class='d-flex justify-content-center'><input
			type='submit'
			value='Send'
			class='btn btn-success mt-2 px-4 mx-auto'
		/></div>
</form>

<ul id='teams-list' class='list-unstyled d-flex flex-column align-items-center'>
	{{#each data.teams as |team|}}
		<li id='{{team.id}}' class='bg-1 my-2 w-75 text-center'>
			<ul class='list-unstyled d-flex'>
				<li
					class='img-container d-flex align-items-center justify-content-center'
				>
					<img class='team-img' src='uploads/img/{{team.imgFilename}}' />
				</li>
				<div class='d-flex flex-column justify-content-evenly flex-fill'>
					<div>
						<li class='bg-3'>
							<strong class='fs-5 lh-1'>{{team.name}}</strong>
						</li>
						<li>
							<span>- {{team.owner}} -</span>
						</li>
					</div>
					<div class='d-flex justify-content-evenly'>
						<li>
							<i class='bi bi-info-circle'></i>
						</li>
						<li>
							<i class='bi bi-pencil-square'></i>
						</li>
						<li>
							<a class='text-black' href='delete/{{team.id}}'>
								<i class='bi bi-trash3'></i>
							</a>
						</li>
					</div>
				</div>
			</ul>
		</li>
	{{/each}}
</ul>